<% provide(:title, "Foto") %>
<div class="center hero-unit">
	<h1>Primo esempio in Postgresql | Foto page </h1>

	<h2>
	This is the foto page of the 'Primo PG ' application 
	</h2>
	
	<p>Questa e' la pagina per le foto del programma 'Primo_PG" </p>
