<% provide(:title, 'Home') %>
	<h1>Primo esempio in Postgresql , home</h1>
	<p>This is the home page of the 'Primo PG ' application 
		E questo e' un hyperlink <a href="www.google.com"> to Google </a>
	</p>

