<header class="navbar navbar-fixed-top">
	<div class="navbar-innder">
		<div class="container">
			<%= link_to "Primo_PG", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home",   root_path %></li>
					<li><%= link_to "Blog",   blog_path %></li>
					<li><%= link_to "Foto",   foto_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>

